<div class="cards-page">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-none d-md-block"><strong>Cards Against Josh</strong></div>
        <div class="col-md-6 col-12 align-right">
          <span class="clickable item" *ngIf="currentGame" (click)="leaveGame()">
            <span class="text-muted">Game:</span> {{currentGame.name}}
            <a class="fas fa-times-circle"></a>
          </span>
          <span class="clickable item" *ngIf="username" (click)="changeUsername()">
            <span class="text-muted">Username:</span> {{username}}
            <a class="fas fa-sign-out-alt"></a>
          </span>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid card-container">
    <div *ngIf="!username">
      <h4>Create a username to continue</h4>
      <button class="btn btn-primary" (click)="getUsername()">Create Username</button>
    </div>
    <div *ngIf="username" class="full-height">
      <div *ngIf="!currentGame">
        <h4>Pick a game...</h4>
        <hr />
        <div class="row game-list">
          <div class="col-12 col-sm-4 col-md-3">
            <div class="card bg-dark text-light">
              <div class="card-body bg-secondary">
                <h5 class="card-title">New Game</h5>
                <p class="card-text mb-1">Select the decks and rules you want to play with</p>
              </div>
              <div class="card-footer">
                <button class="btn btn-warning btn-block" (click)="createGame()">Create Game</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-md-3" *ngFor="let game of knownGames">
            <div class="card bg-dark text-light">
              <div class="card-body bg-secondary">
                <h5 class="card-title">{{game.name}}</h5>
                <p class="card-text mb-1"><strong>Players:</strong> {{game.players.join(', ')}}</p>
              </div>
              <div class="card-footer">
                <button class="btn btn-warning btn-block" (click)="joinGame(game)">Join</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row full-height" *ngIf="currentGame">
        <div class="col-12 col-sm-6 col-md-4 full-height pb-1" *ngIf="currentRound">
          <div class="card text-white bg-dark full-height">
            <h5 class="card-header"><i class="far fa-play-circle"></i> Current Round</h5>
            <div class="card-body scrollable bg-secondary">
              <div class="card black-card">
                <div class="card-body">
                  <p class="card-text">{{currentRound.blackCard.displayText}}</p>
                </div>
              </div>
              <p *ngIf="!currentRound.playedCards">
                <small>
                  <i *ngIf="currentRound.blackCard.underscores == 1">Pick a white card...</i>
                  <i *ngIf="currentRound.blackCard.underscores != 1">Pick {{currentRound.blackCard.underscores}} white cards...</i>
                </small>
              </p>
              <div *ngIf="currentRound.playedCards">
                <div *ngFor="let cards of currentRound.playedCards" class="mt-2">
                  <hr />
                  <button class="card white-card clickable btn-block btn-light" *ngFor="let card of cards" [disabled]="!isCzar()"
                    (click)="czarChosenCards = cards" [ngClass]="{'bg-warning': cardsAreEqual(czarChosenCards, cards) || cardsAreEqual(currentRound.chosenCards, cards)}">
                    <div class="card-body">
                      <p class="card-text">{{card.displayText}}</p>
                    </div>
                  </button>
                </div>
              </div>
              <h4 *ngIf="isRoundDone()">
                <br />
                {{currentRound.winner}} won the round
                <br />
                <small>Waiting for the next round to start.</small>
              </h4>
            </div>
            <div class="card-footer">
              <button class="btn btn-block btn-warning" [disabled]="!canChooseWinningCards()" (click)="pickWinningCards()">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 full-height pb-1">
          <div class="card text-white bg-dark full-height">
            <h5 class="card-header"><i class="fas fa-hand-paper"></i> Your Hand</h5>
            <div class="card-body scrollable bg-secondary">
              <button class="card white-card clickable btn-block btn-light" *ngFor="let whiteCard of whiteCards" [disabled]="areCardsPlayed || isCzar()"
                (click)="toggleWhiteCard(whiteCard)" [ngClass]="{'bg-warning': selectedWhiteCards.includes(whiteCard)}">
                <div class="card-body">
                  <p class="card-text">
                    <span class="badge badge-dark" *ngIf="selectedWhiteCards.includes(whiteCard)">#{{selectedWhiteCards.indexOf(whiteCard) + 1}}</span>
                    {{whiteCard.displayText}}
                  </p>
                </div>
              </button>
            </div>
            <div class="card-footer">
              <button class="btn btn-block btn-warning" [disabled]="!canSubmitCards()" (click)="playCards()">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 full-height pb-1">
          <div class="half-height pb-1">
            <div class="card text-white bg-dark full-height">
              <h5 class="card-header"><i class="fas fa-users"></i> Players</h5>
              <div class="card-body scrollable p-0 bg-secondary">
                <table class="table table-striped table-sm bg-light">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Score</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let player of players">
                      <td>{{player.name}}</td>
                      <td>{{player.score}}</td>
                      <td>
                        <span *ngIf="player.status === PlayerStatus.Selecting" class="fas fa-spinner fa-spin" title="Selecting . . . "></span>
                        <span *ngIf="player.status === PlayerStatus.Played" class="fas fa-check" title="Played cards"></span>
                        <span *ngIf="player.status === PlayerStatus.CardCzar" class="fas fa-star" title="Card Czar"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="half-height pt-1">
            <div class="card text-white bg-dark full-height">
              <h5 class="card-header"><i class="fas fa-envelope"></i> Messages</h5>
              <div class="card-body scrollable p-0 bg-secondary">
                <table class="table table-striped table-sm bg-light">
                  <tbody>
                    <tr *ngFor="let message of messages">
                      <td [innerHTML]="message"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
