# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
pass.txt
start.bat

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz

app.js

# Coveralls
coverage

# Benchmarking
benchmarks/graphs
