<div ng-controller="RiskCtrl as ctrl" ng-init="ctrl.init()" class="risk-page">
<div class="risk-world-map">
  <img class="img-responsive risk-map-image" src="/games/risk/pictures/Simple_world_map.png">
  <div class="risk-grid">
    <div class="row risk-row" ng-repeat="row in ctrl.getRows()">
      <div class="col-xs-2 risk-section" ng-repeat="cellName in ctrl.getColumns(row)" ng-click="ctrl.showCell(cellName)" ng-style="ctrl.getCell(cellName).style" ng-class="{'currentCell': ctrl.currentCell.name == cellName}">
        <span class="label"
          ng-class="{'label-default': ctrl.getCellDiplomacy(cellName) == 0, 'label-primary': ctrl.getCellDiplomacy(cellName) == 1, 'label-danger': ctrl.getCellDiplomacy(cellName) == -1}">
          {{cellName}}
        </span>
        <span class="badge hidden-xs pull-right">{{ctrl.getCell(cellName).troops}}</span>
      </div>
    </div>
  </div>
</div>

<div ng-show="loading" class="risk-element">
  <span>Loading..</span>
</div>

<div ng-show="!loading && !ctrl.currentCell" class="risk-element">
  <h3>Please select a cell</h3>
</div>

<div ng-show="ctrl.currentCell" class="risk-element">
  <div class="panel panel-info">
    <div class="panel-heading"><h3>{{ctrl.currentCell.name}} - {{ctrl.currentCell.description}}</h3></div>
    <div class="panel-body">
      <p ng-if="ctrl.cellWarning" class="text-warning"><span class="glyphicon glyphicon-warning-sign"></span> {{ctrl.cellWarning}}</p>
      <p>Owner: <strong>{{ctrl.currentCell.ownerName}}</strong></p>
      <p>Troops: <strong>{{ctrl.currentCell.troops}}</strong></p>
      <div ng-if="user.userLevel == 'admin'">
        <hr />
        <p><strong>Admin Controls:</strong></p>
        <p>Change Owner: </p>
        <select ng-options="player for player in ctrl.playerNames" ng-model="ctrl.playerChosen"></select>
        <p>Troops: </p>
        <p><input type="number" ng-model="ctrl.troopsAmount" value="0"></input></p>
        <button class="btn btn-primary" ng-disabled="ctrl.saving" ng-click="ctrl.updateCell()">Save</button> <span ng-if="ctrl.savingError" class="text-danger">{{ctrl.savingError}}</span>

      </div>
    </div>
  </div>
</div>

<div class="risk-element">
  <div class="panel panel-info">
    <div class="panel-heading"><h3>Players</h3></div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>User</th>
              <th>Cells Owned</th>
              <th>Daily Troops</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in ctrl.players">
              <td ng-style="{'background-color': ctrl.hexToRGB(player.playerColor, 0.5)}"><img ng-src="{{player.picture}}" class="img img-thumbnail user-picture"></img></td>
              <td class="user-text">{{player.name}}</td>
              <td>{{ctrl.getCellsOwnedBy(player.id).length}}</td>
              <td>{{ctrl.getTroopDailyValue(player.id)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
