<div ng-controller="RiskCtrl as ctrl" ng-init="ctrl.init()" class="risk-page">

<div class="risk-element">
  <p>Game: <select ng-options="game.name for game in ctrl.games" ng-model="ctrl.game" ng-change="ctrl.loadGame()"></select> ------ <input type="checkbox" ng-model="showGrid" ng-true-value="true" ng-false-value="false"> Show Grid?</p>
</div>
<div class="risk-world-map" ng-class="{'large-map': ctrl.largeMap}">
  <img class="img-responsive risk-map-image" src="/games/risk/pictures/Simple_world_map.png">
  <div class="risk-grid">
    <div class="row risk-row" ng-class="{'large-map': ctrl.largeMap}" ng-repeat="row in ctrl.getRows()">
      <div class="risk-section"
      ng-class="{'col-xs-2': !ctrl.largeMap, 'col-xs-1': ctrl.largeMap, 'show-grid': showGrid, 'currentCell': ctrl.currentCell.name == cell.name, 'neighborCell': ctrl.isNeighbor(cell.name), 'inactiveCell': cell.active == 0}"
      ng-repeat="cell in ctrl.getColumns(row)"
      ng-click="ctrl.showCell(cell.name)" ng-style="cell.style">
        <span class="label" ng-show="cell.active"
          ng-class="{'label-default': ctrl.getCellDiplomacy(cell) == 0, 'label-primary': ctrl.getCellDiplomacy(cell) == 1, 'label-danger': ctrl.getCellDiplomacy(cell) == -1}">
          {{cell.name}}
        </span>
        <span class="visible-xs-inline pull-right" ng-show="cell.active">
          {{cell.troops}}
        </span>
        <span class="label label-pill hidden-xs troop-badge" ng-show="cell.active"
          ng-class="{'label-default': ctrl.getCellDiplomacy(cell) == 0, 'label-primary': ctrl.getCellDiplomacy(cell) == 1, 'label-danger': ctrl.getCellDiplomacy(cell) == -1}">
          {{cell.troops}}
        </span>
      </div>
    </div>
  </div>
</div>

<div ng-show="loading" class="risk-element">
  <span>Loading..</span>
</div>

<div class="risk-element" ng-init="showCellPanel = true">
  <div class="panel panel-info risk-panel">
    <div class="panel-heading clickable" ng-click="showCellPanel = !showCellPanel">
      <h4>
        <span class="glyphicon glyphicon-chevron-up" ng-show="showCellPanel"></span>
        <span class="glyphicon glyphicon-chevron-down" ng-show="!showCellPanel"></span>
        <a ng-show="ctrl.currentCell">{{ctrl.currentCell.name}} - {{ctrl.currentCell.description}}</a>
        <a ng-show="!loading && !ctrl.currentCell">Please select a cell</a>
      </h4>
    </div>
    <div class="panel-body" ng-show="showCellPanel">
      <div ng-show="ctrl.currentCell">
        <p ng-if="ctrl.cellWarning" class="text-warning"><span class="glyphicon glyphicon-warning-sign"></span> {{ctrl.cellWarning}}</p>
        <p>Owner: <strong>{{ctrl.currentCell.ownerName}}</strong></p>
        <p>Troops: <strong>{{ctrl.currentCell.troops}}</strong></p>
        <div ng-show="user.userLevel == 'admin'">
          <hr />
          <div class="row">
            <div class="col-sm-6">
              <p><strong>Cell Edit:</strong></p>
              <p>Change Name: </p>
              <p><input class="form-control" type="text" ng-model="ctrl.newCellDescription"></input></p>
              <p>Change Owner: </p>
              <p><select class="form-control" ng-options="player for player in ctrl.playerNames" ng-model="ctrl.playerChosen"></select></p>
              <p>Troops: </p>
              <p><input class="form-control" type="number" ng-model="ctrl.troopsAmount" value="0"></input></p>
              <div class="checkbox">
                <label><input type="checkbox" ng-model="ctrl.cellActive" ng-true-value="1" ng-false-value="0"> Active?</label>
              </div>
            </div>
            <div class="col-sm-6">
              <p><strong>Neighbors:</strong></p>
              <div class="list-group" ng-if="ctrl.currentNeighbors && ctrl.currentNeighbors.length > 0">
                <p ng-repeat="neighbor in ctrl.currentNeighbors track by $index" class="list-group-item">
                  <button class="btn btn-danger" ng-click="ctrl.currentNeighbors.splice(ctrl.currentNeighbors.indexOf(neighbor), 1)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                  {{neighbor}}
                </p>
              </div>
              <p>Add New Neighbor:</p>
              <p>
                <select class="form-control" ng-options="cell for cell in ctrl.cellNames"
                  ng-model="newNeighbor" ng-change="ctrl.currentNeighbors.push(newNeighbor); newNeighbor = null;"></select>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-primary" ng-disabled="ctrl.saving" ng-click="ctrl.updateCell()">Update Cell</button>
              <span ng-if="ctrl.savingError" class="text-danger">{{ctrl.savingError}}</span>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-primary" ng-disabled="ctrl.saving" ng-click="ctrl.updateLinks()">Update Neighbors</button>
              <span ng-if="ctrl.savingLinksError" class="text-danger">{{ctrl.savingLinksError}}</span>
            </div>
          </div>

        </div>
      </div>
      <div ng-if="!ctrl.currentCell">
        No cell is selected.
      </div>
    </div>
  </div>
</div>

<div class="risk-element">
  <div class="panel panel-info risk-panel">
    <div class="panel-heading clickable" ng-click="showPlayers = !showPlayers">
      <h4>
        <span class="glyphicon glyphicon-chevron-up" ng-show="showPlayers"></span>
        <span class="glyphicon glyphicon-chevron-down" ng-show="!showPlayers"></span>
        <a>Players</a>
      </h4>
    </div>
    <div class="panel-body" ng-show="showPlayers">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>User</th>
              <th>Cells Owned</th>
              <th>Daily Troops</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in ctrl.players">
              <td ng-style="{'background-color': ctrl.hexToRGB(player.playerColor, 0.5)}"><img ng-src="{{player.picture}}" class="img img-thumbnail user-picture"></img></td>
              <td class="user-text">{{player.name}}</td>
              <td>{{ctrl.getCellsOwnedBy(player.id).length}}</td>
              <td>{{ctrl.getTroopDailyValue(player.id)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="risk-element" ng-init="attackers = 1; defenders = 1;">
  <div class="panel panel-info risk-panel">
    <div class="panel-heading clickable" ng-click="showRoller = !showRoller">
      <h4>
        <span class="glyphicon glyphicon-chevron-up" ng-show="showRoller"></span>
        <span class="glyphicon glyphicon-chevron-down" ng-show="!showRoller"></span>
        <a>Dice Roller</a>
      </h4>
    </div>
    <div class="panel-body" ng-show="showRoller">
      <div>
        <div class = "row">
          <div class="col-sm-3">
            <p>Attackers:</p>
            <p><input type="number" min="1" ng-model="attackers"/></p>
            <p>Defenders:</p>
            <p><input type="number" min="1" ng-model="defenders"/></p>
            <button class="btn btn-primary" ng-disabled="ctrl.saving" ng-click="battle = ctrl.battle(attackers, defenders)">Battle</button>
          </div>
          <div class="col-sm-3" ng-show="battle">
            <h3>Summary:</h3><br />
            <span class="text-success" ng-if="!battle.remainingDefenders">The attackers succeeded!<br/></span>
            <span class="text-danger" ng-if="!battle.remainingAttackers">The defenders defeated the attackers!<br/></span>
            <br />
            <span>Starting Attackers: {{battle.startingAttackers}}</span><br/>
            <span>Remaining Attackers: {{battle.remainingAttackers}}</span><br/>
            <br />
            <span>Starting Defenders: {{battle.startingDefenders}}</span><br/>
            <span>Remaining Defenders: {{battle.remainingDefenders}}</span><br/><br/>
          </div>
          <div class="col-sm-6" ng-show="battle">
            <h3>Rolls ({{battle.fights.length}}):</h3><br />
            <div ng-repeat="fight in battle.fights">
              <span>---- Roll {{fight.fightNumber}} ----</span><br/>
              <span>A: {{fight.attackingDice}} - Losses: {{fight.attackersLost}} - Remaining: {{fight.remainingAttackers}}</span><br/>
              <span>D: {{fight.defendingDice}} - Losses: {{fight.defendersLost}} - Remaining: {{fight.remainingDefenders}}</span><br/><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
