<div class="router-page">
  <div class="container">
    <div *ngIf="upcomingEvents.length > 0" class="separated-div">
      <h1 class="green-text">Upcoming Events</h1>
      <div class="row card-group">
        <div class="col-md-3 card-chaos" *ngFor="let event of upcomingEvents">
          <div class="card">
            <h5 class="card-header orange-text green-background">{{event.name}}</h5>
            <img *ngIf="event.imageUrl" class="card-img-top" src="{{event.imageUrl}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"><em>{{event.getDateString()}}</em></p>
              <p class="card-text">{{event.description}}</p>
              <a *ngIf="event.linkUrl" href="{{event.linkUrl}}" class="btn btn-chaos" target="_blank">Visit Site ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="pastEvents.length > 0" class="separated-div">
      <h1 class="green-text">Past Events & News</h1>
      <div class="row card-group">
        <div class="col-md-3 card-chaos" *ngFor="let event of pastEvents">
          <div class="card">
            <h5 class="card-header orange-text green-background">{{event.name}}</h5>
            <img *ngIf="event.imageUrl" class="card-img-top" src="{{event.imageUrl}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"><em>{{event.getDateString()}}</em></p>
              <p class="card-text">{{event.description}}</p>
              <a *ngIf="event.linkUrl" href="{{event.linkUrl}}" class="btn btn-chaos" target="_blank">Visit Site ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
