<div class="router-page">
  <h1>All Games</h1>
  <hr />
  <div class="container">
    <div class="row d-flex align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-3" *ngFor="let game of gameList.games">
        <div class="card h-100">
          <div class="card-header text-white bg-secondary">
            <h3>{{game.name}}</h3>
          </div>
          <img class="card-img-top" src="{{game.imagePath}}" alt="{{game.name}}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"></h5>
            <p class="card-text">{{game.description}}</p>
            <a routerLink="/{{game.path}}" routerLinkActive="active" class="btn btn-primary mt-auto">Play {{game.name}}!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
