<div class="router-page">
  <form class="form-inline">
    <label class="sr-only">Unflagged Mines</label>
    <div class="input-group mb-1 mr-sm-1 value-input-div">
      <div class="input-group-prepend">
        <div class="input-group-text badge-info">Unflagged Mines</div>
      </div>
      <span class="form-control">
        {{grid.getUnflaggedMineCount()}}
      </span>
    </div>

    <label class="sr-only">Time</label>
    <div class="input-group mb-1 mr-sm-1 value-input-div">
      <div class="input-group-prepend">
        <div class="input-group-text badge-info">Timer</div>
      </div>
      <span class="form-control">
        {{displayTime}}
      </span>
    </div>
  </form>

  <canvas #myCanvas oncontextmenu="return false;" (appPress)="click($event)"></canvas>

  <form class="form-inline">
    <button class="btn btn-primary mb-2" (click)="createGame()" [disabled]="!validateAll()">
      New Game
    </button>
    <button class="btn btn-default mb-2" (click)="autoReveal()" [disabled]="gameData.autoReveals <= 0 || !startTime || gameDisabled">
      Auto Reveal <span class="badge badge-secondary">{{gameData.autoReveals}} left</span>
    </button>
  </form>
  <hr />

  <h3>Settings</h3>
  <form class="form-inline">
    <label class="sr-only" for="difficulty">Difficulty</label>
    <div class="input-group mb-1 mr-sm-1 value-input-div">
      <div class="input-group-prepend">
        <div class="input-group-text">Difficulty</div>
      </div>
      <select class="form-control" id="difficulty" name="difficulty" required [ngModel]="difficulty" (ngModelChange)="onDifficultyChange($event)">
        <option *ngFor="let diff of difficulties"  name="diff" [ngValue]="diff">{{diff.name}}</option>
      </select>
    </div>

    <label class="sr-only" for="gridX">Columns</label>
    <div class="input-group mb-1 mr-sm-1 value-input-div">
      <div class="input-group-prepend">
        <div class="input-group-text">Columns</div>
      </div>
      <input type="number" class="form-control" id="gridX" placeholder="X" name="gridX" [(ngModel)]="gridX" (ngModelChange)="createGame()"
        min="{{minColumns}}" max="{{maxColumns}}" required [ngClass]="{'is-invalid': !validateColumns()}" [disabled]="!difficulty.isCustom">
    </div>

    <label class="sr-only" for="gridY">Rows</label>
    <div class="input-group mb-1 mr-sm1 value-input-div">
      <div class="input-group-prepend">
        <div class="input-group-text">Rows</div>
      </div>
      <input type="number" class="form-control" id="gridY" placeholder="gridY" name="gridY" [(ngModel)]="gridY" (ngModelChange)="createGame()"
        min="{{minRows}}" max="{{maxRows}}" required [ngClass]="{'is-invalid': !validateRows()}" [disabled]="!difficulty.isCustom">
    </div>

    <label class="sr-only" for="gridMines">Mines</label>
    <div class="input-group mb-1 mr-sm1 value-input-div">
      <div class="input-group-prepend">
        <div class="input-group-text">Mines</div>
      </div>
      <input type="number" class="form-control" id="gridMines" placeholder="gridMines" name="gridMines" [(ngModel)]="gridMines" (ngModelChange)="createGame()"
        min="{{minMines}}" max="{{getMaxMines()}}" required [ngClass]="{'is-invalid': !validateMines()}" [disabled]="!difficulty.isCustom">
    </div>
  </form>

  <hr />

  <h3>Stats</h3>
  <ul>
    <li><strong>Difficulty:</strong> {{difficulty.name}}</li>
    <li><strong>Wins:</strong> {{gameData.wins}}</li>
    <li><strong>Attempts:</strong> {{gameData.attempts}}</li>
    <li><strong>Percent Won:</strong> {{gameData.wins / (gameData.attempts || 1) | percent}}</li>
    <li><strong>Auto Reveals Used:</strong> {{gameData.autoRevealsUsed}}</li>
  </ul>

  <hr />

  <h3>Controls</h3>
  <ul>
    <li><strong>Left Click/Tap:</strong> Reveal cell</li>
    <li><strong>Right Click/Hold:</strong> Place flag</li>
    <li><strong>Double Click/Middle Click/Hold:</strong> Reveal adjacent cells (if the correct number of adjacent mines are flagged)</li>
    <li><strong>Auto Reveal</strong> Randomly flags an unflagged mine. You gain one each time you win a game</li>
  </ul>
  
</div>
